[Unit]
Description=Dynanmic DNS Update
After=systemd-networkd.service network.service

[Service]
Type=simple
User=dynupdte
ExecStart=/usr/local/sbin/dns_update.py -i 60 /etc/dhcp/ursula.conf /etc/dhcp/tunnel.conf
StandardOutput=null

[Install]
WantedBy=multi-user.target
