[Unit]
Description=Dynamic DNS Update
After=systemd-networkd.service network.service

[Service]
Type=simple
User=dynupdte
ExecStart=/usr/local/sbin/dns_update.py -i 600 /usr/local/etc/dns_update.conf
StandardOutput=null

[Install]
WantedBy=multi-user.target
